.card {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(240, 233, 223);
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}
.card_dark {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(46, 43, 37);
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(253, 253, 253, 0.1);
  position: relative;
}
.card_title {
  min-height: 50px;
}
.card_desc {
  min-height: 60px;
}
.card_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 1.6em;
  width: 100%;
}
.card_list-item {
  margin: 0.5em 0;
  font-weight: 500;
  font-size: 0.8rem;
  text-align: center;
}
.card_link {
  font-size: 1.7rem;
  color: rgb(38, 12, 61);
  position: absolute;
  bottom: 5px;
  left: 45%;
}
.card_link_dark {
  font-size: 1.7rem;
  color: rgb(163, 226, 226);
  transition: all 0.3s ease;
  position: absolute;
  bottom: 5px;
  left: 47%;
}
/*hover*/
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card_dark:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(253, 253, 253, 0.2);
}
.card_link:hover {
  color: rgb(105, 1, 197);
}
.card_link_dark:hover {
  color: rgb(8, 252, 252);
}
