.card {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  background-color: antiquewhite;
}
.card_desc {
  margin-top: 1em;
}
.card_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.6em 0;
  left: -2em;
}
.card_list-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
}
