.contact_list {
  max-width: 400px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contact_list-item {
  border: 1px solid darkgray;
  padding: 0.5rem;
  font-size: 1.5rem;
}
