.header_light {
  height: 6em;
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: rgb(240, 240, 205);
}
.header_dark {
  height: 6em;
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: azure;
  background-color: rgb(100, 100, 89);
}
.themeBtn_light {
  height: 3em;
  margin-right: 20px;
  margin-top: 20px;
  background-color: rgb(64, 64, 61);
  color: azure;
}
.themeBtn_dark {
  height: 3em;
  margin-right: 20px;
  margin-top: 20px;
  background-color: rgb(228, 228, 220);
}

@media screen and (max-width: 500px) {
  .themeBtn_dark,
  .themeBtn_light {
    font-size: 0.7rem;
  }
}
