.footer {
  margin-top: 5em;
  text-align: center;
  background-color: rgb(240, 240, 205);
  color: black;
  padding-top: 1.5em;
  padding-bottom: 0.1em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.footer_dark {
  margin-top: 5em;
  text-align: center;
  background-color: rgb(100, 100, 89);
  color: azure;
  padding-top: 1.5em;
  padding-bottom: 0.1em;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 8px rgba(252, 250, 250, 0.5);
}
.arrow,
.arrow_dark {
  color: rgb(7, 55, 94);
  font-size: 1.5rem;
  transition: color 0.3s ease;
}
.arrow_dark {
  color: rgb(149, 239, 239);
}

.arrow:hover {
  color: rgb(0, 153, 255);
}

.arrow_dark:hover {
  color: rgb(0, 204, 255);
}
